<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS Demo</title>
</head>

<body>
    <h1>Upload file to IPFS</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="fileName">fileName</label>
        <input type="text" name="fileName" id="fileName">
        <br><br>
        <label for="upload-file">Upload File</label>
        <input type="file" name="file" id="upload-file">
        <br><br>
        <input type="submit" value="Uplaod">
    </form>
</body>

</html>