<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS Demo</title>
</head>

<body>
    <h1>File Uplaod</h1>
    <p> Name : <%=fileName%></p>
    <p> LINK : <a href="https://ipfs.io/ipfs/<%=fileHash%>"><%=fileHash%></a></p>
    <!-- <p>https://ipfs.io/ipfs/QmbB3PZ3RkZ28yUxygpLPSoLLUvYBTverjYf8TrMHKxac8</p> -->
</body>

</html>